# Cloudflare Wrangler-artefacten
.wrangler/

# Node modules en buildbestanden
node_modules/
dist/
build/

# Log- en systeembestanden
*.log
.DS_Store
.vscode/
.idea/

# Others
schema.sql
crm-context.txt
